SetterlunUniversity/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_9_0.bundle filter=lfs diff=lfs merge=lfs -text
SetterlunUniversity/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_9_0.so filter=lfs diff=lfs merge=lfs -text
SetterlunUniversity/build/Build/*.data filter=lfs diff=lfs merge=lfs -text
SetterlunUniversity/build/Build/*.wasm filter=lfs diff=lfs merge=lfs -text
SetterlunUniversity/build/Build/*.bundle filter=lfs diff=lfs merge=lfs -text
SetterlunUniversity/build/Build/*.unityweb filter=lfs diff=lfs merge=lfs -text
SetterlunUniversity/build/Build/*.br filter=lfs diff=lfs merge=lfs -text
SetterlunUniversity/build/Build/*.gz filter=lfs diff=lfs merge=lfs -text
SetterlunUniversity/build/StreamingAssets/*.mp4 filter=lfs diff=lfs merge=lfs -text
